table{
  width:500px;
  height:200px;
  float:left;
  margin-left:5px;
}

table,th,td{
  text-align:center;
} 

th,td{
  background:#ffffffc5;
   padding:10px;
}
caption{
  font-size:20px;
  color:blue;
}

*{
  text-align:center;
}
img{
    width: 300px;
    border-radius: 10%;
}


p{
    color: white;
    background: #ad0fda;
}

.square{
    background: red;
    width: 200px;
    height: 200px;
    transition: 0.5s;
}

.square:hover{
    background: green;
    border-radius: 100%;
}

.square1 {
    background: green;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transition: 0.5s;
}
.square1:hover {
    background: red;
    width: 200px;
    height: 200px;
    border-radius: 25%;
}
