table{
    width:100%;
    max-width: 500px;
    margin: 0 auto;
    table-layout: fixed;
    background: #FEF834;
    border: 2px solid #17152B;
}
table td{
    border: 2px solid #BCB946;
    padding: 15px;
}
table tr:nth-child(1) td:nth-child(1){
    border-color: #ED4630;
    background: #fff;
}
table tr:nth-child(1) td:nth-child(2){
    border-color: #222200;    
}
table tr:nth-child(1) td:nth-child(3){
    border-color: #2242E3;  
    background: #6CF8FC;
}
table tr:nth-child(2) td:nth-child(1){
    border-color: #FFFEF1;
    background: #E964FE;
}
table tr:nth-child(2) td:nth-child(2){
    border-color: #B23322;
    background: #EC52A1;
}
table tr:nth-child(2) td:nth-child(3){
    border-color: #A161B9;
    background: #ACB02D;
}
img{
    width: 300px;
    border-radius: 10%;
}


p{
    color: white;
    background: #ad0fda;
}

.square{
    background: red;
    width: 200px;
    height: 200px;
    transition: 0.5s;
}

.square:hover{
    background: green;
    border-radius: 100%;
}

.square1 {
    background: green;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transition: 0.5s;
}
.square1:hover {
    background: red;
    width: 200px;
    height: 200px;
    border-radius: 25%;
}
